.cart .cart-title {
    color: var(--color-one);
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
}

.cart .cart-header {
    background-color: var(--color-one);
    color: #fff;
    font-size: 16px;
    font-weight: 450;
    padding: 7px 10px;
    border-radius: 5px;
}

.cart .cart-body {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
}

.cart .cart-body .cart-body__header {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    margin-bottom: 10px;
}

.cart .cart-body .cart-body__footer {
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 40px;
}

.cart .cart-body .cart-body__footer i {
    color: var(--color-three);
}

.cart .cart-body .cart-body__item {
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, .09);
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.cart .cart-body .cart-body__item img {
    width: 100px;
    height: 140px;
    object-fit: cover;
}

.cart .cart-body .cart-body__item .cart-checkbox {
    margin-right: 30px;
}

.cart .cart-body .cart-body__item .cart-book-title {
    font-size: 16px;
    font-weight: 500;
}

.cart .cart-body .cart-body__item .price {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-three);
}

.cart .cart-body .cart-body__item .author {
    font-size: 14px;
    color: var(--color-font);
}

.cart .cart-body .cart-body__item .number {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.cart .cart-body .cart-body__item .button-delete {
    border: none;
    background-color: transparent;
}

.cart .cart-footer {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}

.cart .cart-footer .cart-footer-title {
    color: var(--color-one);
    font-size: 16px;
    font-weight: 550;
}

.cart .cart-right .card-address {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cart .cart-right .cart-promotion {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cart .cart-pay {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.cart .cart-pay .cart-pay-success {
    color: var(--color-one);
}

.cart .cart-pay .cart-pay-danger {
    color: var(--color-three);
    font-size: 16px;
    font-weight: 650;
}
.cart-shop-voucher .disabled {
    opacity: 0.7;
}
.cart-system-voucher .disabled {
    opacity: 0.7;
}
#addressModal .card-default {
  color: var(--color-three);
  font-weight: 500;
  font-size: 12px;
  padding: 1px 2px;
  border: 1px solid var(--color-three);
}
