@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-one: #164e3f;
    --color-two: #FCC800;
    --color-three: #ef4444;
    --color-background: #F3F3F5;
    --color-font: #6A7282;
    --bg-title: #FFD9F0;
    --font-one: "IBM Plex Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-one);
    overflow-x: hidden;
    background-color: var(--color-background);
}


a {
    text-decoration: none !important;
    padding: 0px;
    color: #212529;
}

h4 {
    margin: 0px;
}

.cursor-pointer {
    cursor: pointer;
}